.img{
            margin-top: 0%;
            margin-right: 2%;
            top: 0px;
            left: 0px;
            height: 70px;
            width: 60px;
        }

* {
    box-sizing: border-box;
}

body{
    /*background-image: url("Images/backfaq.jpg");*/
    background-color: #021329;
    background-size: cover;
    margin: 0;
    padding: 0px;
  min-height: 100vh;
}

input[type=text], select, textarea {
  width:100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;   
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: ghostwhite;
}

input[type=submit] {
  background-color: #048053;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50% !important;
}

input[type=email]{
    width:70%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;   
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: ghostwhite;

}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 25px;
  width: 35%;
  /*background-color:#66d9ff;*/
  background-color:whitesmoke;
  padding: 50px; 
  margin-bottom: 30px;
  text-align: left;
}

.container input{
    width: 100%;
}
        


        .img1{
            margin-top: 0%;
            margin-left: 2%;
            margin-right: 0.5%;
            top: 0px;
            left: 15px;
            height: 70px;
            width: 70px;
        }

        .header
        {
            padding: 0px;
            border: 2px solid #53eded;          
            background: #fff;
            box-shadow: 5px 5px 5px #0e213b;
            margin:  15px 8px 0px 8px;
            padding: 15px 5px 20px 0px;
            background-image: linear-gradient(to right, #021329 , #0d2222 , #0d2222 , #0d2222);
            background-color: #0e213b;
            font-size: 12px;
        }

        .header2
        {
            padding: 0px;
            border: 0px solid #53eded;          
            background: #fff;
            box-shadow: 5px 5px 5px #0e213b;
            margin:  15px 0px 0px 0px;
            padding: 25px 5px 20px 0px;
            background-image: linear-gradient(to right, #021329 , #021329 40% , #044040 , #044040);
            background-color: #0e213b;
            font-size: 12px;
            height: 700px;
        }

        .img3{
          margin-top: 5%;
          margin-right: 2%;
          top: 0px;
          left: 0px;
          height: 450px;
          width: 560px;
          border-radius: 50%;
      }

        .h1
        {
            /*text-shadow: 1px 1px 2px black, 0 0 25px #561420, 0 0 5px darkblue;*/
            text-shadow: 2px 2px 3px black, 0 0 15px #561420, 0 0 4px blue;
            font-size: 2.5vw;
            font-family: 'Times New Roman';
            font-weight: 10;
            text-emphasis-color: #53eded;
            color: #53eded;
            -webkit-margin-before: 0em;
            -webkit-margin-after: 0em;
            padding: 0px 0px 5px 1%;
            margin: 0px 0px 0px 0%;
        }

        h2{
            color:white;
        }

      .info{
 color: #53eded;
        }

        .img4{
            margin-top: 2%;
            margin-left: 2%;
            margin-right: 0.5%;
            top: 0px;
            left: 15px;
            height: 40px;
            width: 40px;
            border-radius: 15px;
        }

        .img4:hover{
            opacity: 0.8;
        }

       .footer
        {
            position: relative;
            padding: 22px;
            background: #021329;
            margin-top: 5px;
            box-shadow: 5px 5px 5px #0e213b;
            font-size: medium;
            color: White;
            border-top: 2px solid #53eded;
        }

        .footer1
        {
            position: relative;
            padding: 22px;
            background: #021329;
            margin-top: 0px;
            box-shadow: 5px 5px 5px #0e213b;
            font-size: medium;
            color: White;
        }

        .footimg
        {
            margin-left: 15px;
        }


        /* STYLES SPECIFIC TO FOOTER  */

        .footer .col {
          width: 240px;
          height: auto;
          float: left;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          padding: 0px 20px 20px 20px;
          margin: 0px 30px 0px 50px;
        }
        .footer .col h1 {
          margin: 5;
          padding: 0;
          font-family: inherit;
          font-size: 22px;
          line-height: 17px;
          padding: 20px 0px 5px 0px;
          /*color: rgba(255,255,255,0.2);*/
          font-weight: normal;
          text-transform: uppercase;
          letter-spacing: 0.250em;
          color: aqua;
        }
        .footer .col ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
        .footer .col ul li {
          color: #999999;
          font-size: 20px;
          font-family: inherit;
          font-weight: bold;
          padding: 5px 0px 5px 0px;
          cursor: pointer;
          transition: .2s;
          -webkit-transition: .2s;
          -moz-transition: .2s;
        }
        .social ul li {
          display: inline-block;
          padding-right: 5px !important;
        }

        .footer .col ul li:hover {
          color: #ffffff;
          transition: .1s;
          -webkit-transition: .1s;
          -moz-transition: .1s;
        }
        .clearfix {
          clear: both;
        }

        a{
            text-decoration: none;
        }