body{
	background-color: darkslategray;
}

.popup{
	background-color: aqua;
	width: 600px;
	padding: 30px 20px 20px 20px;
	position: fixed;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 40%;
	border-radius: 10px;
	display: none;
	font-family: 'Arial',sans-serif;
	text-align: center;
}

.popup button{
	display: block;
    margin: -50px -50px auto auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    background: #03549a;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}